* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: "Abyssinica SIL", serif;
  background-color: #eee;
}
.container {
  max-width: 860px;
  margin: 0 auto;
}

/* NAV BAR */
.nav {
  transition: 0.3s all ease;
  position: fixed;
  width: 260px;
  left: -260px;
  height: 100%;
  background: #27292f;
  z-index: 999;
}
.open {
  left: 0;
}
.menu {
  list-style-type: none;
}
.menu__item {
  font-size: 1.4rem;
  color: #eee;
  border-bottom: 1px solid #333;
  padding: 12rem 1.2rem;
  text-transform: uppercase;
  transition: 0.3s all ease;
}
.menu__item:hover {
  background: #111;
  cursor: pointer;
}

/* HAMBURGER ICON */
.hamburger {
  position: absolute;
  top: 10px;
  right: -55px;
}
.hamburger:hover {
  cursor: pointer;
}
.hamburger span {
  display: block;
  background: #222;
  margin: 6px 0;
  height: 6px;
  width: 36px;
  border-radius: 2px;
  position: relative;
  transition: .3s ease;
}
.change.first-bar {
  top: 11px;
  transform: rotate(45deg);
}
.change.second-bar {
  opacity: 0;
}
.change.third-bar {
  bottom: 13px;
  transform: rotate(-45deg);
}

/* MAIN CONTENT */
.content {
  padding: 2rem;
  transition: 0.3s all ease;
}
.shift {
  margin-left: 260px;
}
.content__heading--one {
  text-align: center;
  padding: 1rem 2rem .5rem 2rem;
}
.content__heading--two {
  text-align: center;
  padding: 0rem 2rem 0rem 2rem;
}
.content__details {
  padding: 1rem;
  letter-spacing: 1px;
  text-align: center;
}
.content__image {
  padding: 1rem;
  width: 100%;
  height: auto;
}